@{
    ViewData["Title"] = "Strona głowna";
}

<div class="text-center">
    <h1 class="display-4">Witaj w salonie fryzjerskim</h1>
    <p>Przejdż do logowania aby umówić wizytę lub zobaczyć zaplanowane.</p>
</div>
