@model SalonFryzjerski.Data.Wizyta

@{
    ViewData["Title"] = "Create";
}

<h1>Umów wizytę</h1>

<h4>Wizyta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Rezerwacja">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" class="form-control" value="@User.GetId()" />
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RodzajId" class="control-label"></label>
                <select asp-for="RodzajId" class="form-control" asp-items="ViewBag.RodzajId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}